.node {
    outline: 0.8px solid rgb(4, 4, 72);
    display: inline-block;
    margin-top: -0.198vw;
    width: 1.7vw;
    height: 1.7vw;
}  

.node-finish {
    background-color: red;
}

.node-start {
    background-color: rgb(66, 196, 66);
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.7s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


.node-wall {
    background-color: rgb(4, 4, 72);
}

.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.9s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(.3);
        background-color: red;
        border-radius: 100%;
    }
  
    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75)
    }
  
    100% {
        transform: scale(1.0);
        background-color: rgb(83, 215, 233);
    }
}

@keyframes shortestPath {
    0% {
        transform: scale(.5);
        background-color: rgb(255, 115, 0);
    }
  
    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
    }   
  
    100% {
        transform: scale(1.0);
        background-color: rgb(255, 254, 106);
    }
}
