.grid-containger{
    display: inline-block;
    margin: 7vw 0 0;
    object-fit: contain;
    width: 100%;
    height: 100%
}

    
nav {
    position: fixed;
    display: flex;  
    z-index: 1;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 0.25vw 3.2rem;
    background-color: rgb(4, 4, 72);
}

.title {
    color: white;
    font-size: 1.5vw;
}

button {
    font-family: sans-serif;
    font-weight: 800;
    margin-right: 1vw;
    font-size: 1vw;
    border-radius: 6px;
    padding: 0.6vw;
    background-color: rgb(210, 238, 241);
    border: 2px solid rgb(92, 140, 217);
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover{
    background-color: rgb(105, 231, 105);
    color: white;
}

button.maze:hover{
    background-color: rgb(196, 107, 196);
    color: white;
}

.reset {
    background-color: red;
    color: white;
}

button.reset:hover{
    transition-duration: 0.2s;
    background-color: red;
    color: white;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 15px rgb(92, 140, 217);
}

.popup-container {
    max-height: 70vh;
    overflow: auto;
    cursor: pointer;
}
  
.popup .popup-text {
    padding: 1.8vw;
    font-family: sans-serif;
    font-weight: 800;
    visibility: visible;
    position: fixed;
    margin-top: 5.5vw;
    margin-right: 40vw;
    margin-left: 33.9vw;
    width: 28vw;
    height: 35.5vw;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(4, 4, 72);
    background-color:  white;
    border-radius: 10px;
    font-size: 1vw;
}

.body {
    font-size: 0.8vw;
    text-align: left;
    word-wrap: normal;
}

.image {
    width: 9vw;
    height: 9vw;
}


.popup .show {
    visibility: hidden;
}

.body.click {
    font-size: 1vw;
    text-align: center;
}


/* @media screen and (min-width: 125200000px) {
    button {
        font-size: 14px;
        padding: .5rem;
    }
    .title {
          font-size: 20px;
    }

    .popup-container {
        max-height: 70vh;
        overflow: auto;
        cursor: pointer;
    }
      
    .popup .popup-text {
        padding: 1.2rem;
        font-family: sans-serif;
        font-weight: 800;
        visibility: visible;
        position: fixed;
        top: 12%;
        margin-top: 0.2rem;
        left:calc(50vw - 274px);
        width: 500px;
        height: 5px;
        border-style: solid;
        border-width: 5px;
        border-color: rgb(4, 4, 72);
        background-color:  white;
        border-radius: 10px;
    }
    
    .body {
        font-size: 14px;
        text-align: left;
    }
}

@media screen and (max-width: 1252px) {
    button {
      font-size: 12px;
      padding: .4rem;
    }
    .title {
        font-size: 18px;
    }

    .popup-container {
        max-height: 70vh;
        overflow: auto;
        cursor: pointer;
    }
      
    .popup .popup-text {
        font-size: 14px;
        padding: 1.2rem;
        font-family: sans-serif;
        font-weight: 800;
        visibility: visible;
        position: fixed;
        top: 12%;
        margin-top: 0.2rem;
        left:calc(50vw - 225px);
        width: 400px;
        height: 450px;
        border-style: solid;
        border-width: 5px;
        border-color: rgb(4, 4, 72);
        background-color:  white;
        border-radius: 10px;
    }
    
    .body {
        font-size: 10px;
        text-align: left;
    }
}

@media screen and (max-width: 1100px) {
    button {
      font-size: 10px;
      padding: .4rem;
    }
    .title {
        font-size: 16px;
    }

    .grid-containger{
        margin: 80px 0 0;
    }

    .popup-container {
        max-height: 70vh;
        overflow: auto;
        cursor: pointer;
    }
      
    .popup .popup-text {
        padding: 1.2rem;
        font-family: sans-serif;
        font-weight: 800;
        visibility: visible;
        position: fixed;
        top: 12%;
        margin-top: 0.2rem;
        left:calc(50vw - 195px);
        width: 340px;
        height: 385px;
        border-style: solid;
        border-width: 5px;
        border-color: rgb(4, 4, 72);
        background-color:  white;
        border-radius: 10px;
        font-size: 10px;
    }
    
    .body {
        font-size: 9px;
        text-align: left;
    }
} */

